{{#> main}}
  {{#modal}}
    <h1 class="title entry-page__title">
      Log in
    </h1>
    <form action="" class="form entry-page__form">
      <div class="input-container modal__input-container">
        <input id="login" type="text" class="input modal__input" placeholder=" ">
        <label for="login" class="placeholder">
          Login
        </label>
      </div>
      <div class="input-container modal__input-container">
        <input id="password" type="password" class="input modal__input" placeholder=" ">
        <label for="password" class="placeholder">
          Password
        </label>
      </div>
      {{> components/button/button className="modal" label="Enter" }}
    </form>
    <a class="link modal__link" href="./registration-page.hbs">
      Create account
    </a>
  {{/modal}}
{{/main}}
