<main class="chat-main chat-main_{{ isActive }}">
  {{#if isActive }}
    <ul class="message-list">
      <li>
        {{> components/message/message
          classNames="message-list"
          firstName="Johny"
          lastName="Cash"
          text="Thank you! Good luck!"
          time="09:13"
        }}
      </li>
      <li>
        <div class="text chat-main__text date-line">
          Today
        </div>
      </li>
      <li>
        {{> components/message/message
          classNames="message-list"
          firstName="Ilya"
          lastName="Orekhov"
          time="14:56"
          isFromYou="true"
          image="static/media/chat-photo.jpg"
        }}
      </li>
      <li>
        {{> components/message/message
          classNames="message-list"
          firstName="Johny"
          lastName="Cash"
          text="Amazing!"
          time="15:41"
        }}
      </li>
    </ul>
    {{else}}
    <h2 class="text chat-main__text">
      Select a chat room
    </h2>
  {{/if}}
</main>
