.error-page__title {
  margin-bottom: 40px;
  font-size: 40px;
  font-weight: 400;
}

.error-page__text {
  margin-bottom: 64px;
  font-size: 20px;
}

.error-page__link {
  color: $accent-blue;
}
