<div>
  <h1 class="title error-page__title">
    505
  </h1>
  <p class="text error-page__text">
    We are already fixing this problem
  </p>
  <a class="link error-page__link" href="/">
    Back to chats
  </a>
</div>
