<main class="container">
  {{! Стили находятся в папке server-error-page }}
  <h1 class="title error-page__title">
    404
  </h1>
  <p class="text error-page__text">
    This page does not exist
  </p>

  {{{link}}}
</main>
