@import "../src/components/icon/icon.pcss";
@import "../src/components/nav/nav.pcss";
@import "../src/components/button/button.pcss";
@import "../src/components/avatar/avatar.pcss";
@import "../src/components/message/message.pcss";
@import "../src/components/pop-list-item/pop-list-item.pcss";
@import "../src/components/friends-info/friends-info.pcss";
@import "../src/pages/main-page/side-menu/profile-header/profile-header.pcss";
@import "../src/pages/main-page/side-menu/friends-container/friends-container.pcss";
@import "../src/pages/main-page/chat-menu/chat-header/chat-header.pcss";
@import "../src/pages/main-page/chat-menu/chat-main/chat-main.pcss";
@import "../src/pages/main-page/chat-menu/chat-input/chat-input.pcss";
@import "../src/pages/main-page/side-menu/side-menu.pcss";
@import "../src/pages/main-page/chat-menu/chat-menu.pcss";
@import "../src/pages/error-page/error-page.pcss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  text-shadow: 0 0 4 rgba(0, 0, 0, 0.25);
}

ul, li{
  list-style: none;
}

a {
  text-decoration: none;
}

.text {
  font-size: 16px;
  color: white;
  font-weight: lighter;
}

.popper {
  display: flex;
  background: #413C37;
  border: 2px solid #000000;
  box-shadow: 2px -5px 10px rgba(0, 0, 0, 0.25), inset 0px 0px 16px 1px rgba(0, 0, 0, 0.25);
}

input {
  background: none;
  outline: none;
  border: none;
  color: white;
}

.main-page {
  display: flex;
  font-size: 20px;
  margin: auto;
  text-align: center;
  color: goldenrod;
}
