.button {
  margin: 0px 10px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 10px;
  font-weight: 400;
  letter-spacing: 1.5;
  color: white;
  width: 280px;
  height: 37px;
  background: rgb(11, 217, 251);
  background: linear-gradient(
    135deg,
    rgba(11, 217, 251, 0.9) 0%,
    rgba(11, 183, 223, 0.8) 100%
  );
}

.button:hover {
  cursor: pointer;
  filter: brightness(90%);
  color: white;
  border: 1px solid black;
}
