.button {
  margin: 0px 30px;
  font-size: 13px;
  line-height: 10px;
  font-weight: 400;
  letter-spacing: 1.5;
  color: white;
  width: 280px;
  height: 37px;
  background: $accent-blue;
  border: 1px solid #000000;
  box-shadow: inset 0px 0px 3px 1px #000000;
}

.button:hover {
  cursor: pointer;
  background: linear-gradient(
    91deg,
    rgba(11, 217, 251, 0.9) 100%,
    rgba(11, 183, 223, 0.8) 0%
  );
}
