.button {
  width: 280px;
  height: 37px;
  margin: 0 30px;

  font-size: 13px;
  font-weight: 400;
  line-height: 10px;
  color: white;
  letter-spacing: 1.5;

  background: $accent-blue;
  border: 1px solid #000;
  box-shadow: inset 0 0 3px 1px #000;
}

.button:hover {
  cursor: pointer;
  background: linear-gradient(91deg, rgb(11 217 251 / 90%) 100%, rgb(11 183 223 / 80%) 0%);
}
