.profile-header {
  width: 288px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(11, 217, 251);
  background: linear-gradient(
    90deg,
    rgb(11, 217, 251) 0%,
    rgb(14, 59, 121) 100%
  );
}

.user-info {
  height: 64px;
  width: 100%;
  align-items: center;
  display: flex;
}

.user-title {
  color: white;
  text-align: left;
  padding: 0px 16px;
}

.user-name {
  font-size: 20px;
  line-height: 23px;
  font-style: normal;
  font-weight: 400;
}

.user-status {
  font-size: 14px;
  line-height: 16px;
  font-style: normal;
  font-weight: 400;
}

.online {
  color: #3be200;
}

.offline {
  color: white;
  opacity: 0.6;
}

.arrow {
  height: 18px;
  width: 18px;
  filter: drop-shadow(0 0 4 rgba(0, 0, 0, 0.25));
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.profile-header__arrow {
  margin-left: 8px;
}

.profile-header__arrow_up {
  rotate: 180deg;
}

.profile-header__icon {
  width: 32px;
  height: 34px;
  margin-right: 8px;
}
