{{#> mainLayout }}
<main class="main-container main-container__error-page">
  <h1 class="title error-page__title">
    404 / 505
  </h1>
  <p class="text error-page__text">
    This page does not exist / We are already fixing this problem
  </p>
  <a class="link error-page__link" href="/">
    Back to chats
  </a>
</main>
{{/mainLayout}}
