
<main class="main-container main-container__entry-page">
  {{#modal isPopup=false }}
    <h1 class="title entry-page__title">
      Registration
    </h1>
    <form action="" class="form entry-page__form">
      <div class="input-container modal__input-container">
        <input id="email" type="email" class="input modal__input" placeholder=" ">
        <label for="email" class="placeholder">
          Mail
        </label>
      </div>
      <div class="input-container modal__input-container">
        <input id="login" type="text" class="input modal__input" placeholder=" ">
        <label for="login" class="placeholder">
          Login
        </label>
      </div>
      <div class="input-container modal__input-container">
        <input id="first_name" type="text" class="input modal__input" placeholder=" ">
        <label for="first_name" class="placeholder">
          Name
        </label>
      </div>
      <div class="input-container modal__input-container">
        <input id="second_name" type="text" class="input modal__input" placeholder=" ">
        <label for="second_name" class="placeholder">
          Second name
        </label>
      </div>
      <div class="input-container modal__input-container">
        <input type="tel" id="phone" name="phone" placeholder=" " class="input modal__input" minlength="10" maxlength="14">
        <label for="phone" class="placeholder">
          Phone
        </label>
      </div>
      <div class="input-container modal__input-container">
        <input id="password" type="password" class="input modal__input" placeholder=" "  minlength="6">
        <label for="password" class="placeholder">
          Password
        </label>
      </div>
      <div class="input-container modal__input-container">
        <input id="confirm_password" type="password" class="input modal__input" placeholder=" "  minlength="6">
        <label for="confirm_password" class="placeholder">
          Repeat Password
        </label>
      </div>
      {{> components/button/button
        className="modal"
        label="Create profile"
      }}
    </form>
    <a class="link modal__link" href="./entry-page.hbs">
      Sign in
    </a>
  {{/modal}}
</main>
