<div class="side-menu">
  {{> pages/main-page/side-menu/profile-header/profile-header
    avatar-src="media/avatar-1.jpg"
    user-name="Ilya Orekhov"
    user-status="online"
  }}
  {{> pages/main-page/side-menu/friends-container/friends-container
    avatar-src="media/avatar-1.jpg"
    user-name="Ilya Orekhov"
    user-status="online"
  }}
</div>
