<div className="container modal__container  container_darker {{#unless isLoading}} display_none {{/unless}} ">
  <div className="loader-ellipsis">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>