<div class="container container__loader container__loader_darker {{#if isLoading}}{{else}} display_none {{/if}} ">
  <div class="loader-ellipsis">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>