<div class="container container__loader container__loader_darker {{#unless isLoading}}display_none {{/unless}} ">
  <div class="loader-ellipsis">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
