
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Error Page</title>
    <link rel="stylesheet" href="../../../style/index.pcss"/>

  </head>
  <body>
    <main class="error-page">
      {{> components/nav/nav }}
      <h1 class="title error-page__title"> 404 / 505 </h1>
      <p class="text error-page__text"> This page does not exist / We are already fixing this problem</p>
      <a class="link error-page__link" href="/">Back to chats</a>
    </main>
  </body>
</html>