<main id="friends-container">
  <header class="chats-header">
    <h3 class="title chats-header__title">
      Friends
    </h3>
    <div class="chats-header__input-box">
      <input class="input chats-header__input" type="text" name="search" id="search" placeholder="Search...">
      {{> components/icon/icon
        className="chats-header"
        src="static/media/search-icon.svg"
        alt="Search"
      }}
    </div>
    {{> components/icon/icon
      className="chats-header"
      src="static/media/user-add.svg"
      alt="Add user"
    }}
  </header>
  <ul class="chats-list">
    <li class="chat-info chats-list__chat-info">
        {{> components/avatar/avatar
          className="friends"
          src="static/media/avatar-2.jpg"
        }}
        {{> components/friends-info/friends-info
          firstName="Ryan"
          lastName="Gosling"
          lastMessage="Image..."
          className="chats-list"
          isNewMessage=2
          time="14:03"
        }}
    </li>
    <li class="chat-info chats-list__chat-info">
        {{> components/avatar/avatar
          className="friends"
          src="static/media/avatar-3.jpg"
        }}
        {{> components/friends-info/friends-info
          firstName="Marie"
          lastName="Laforet"
          lastMessage="Ok"
          className="chats-list"
          time="sun 13:33"
        }}
    </li>
    <li class="chat-info chats-list__chat-info chats-list__chat-info_active">
        {{> components/avatar/avatar
          className="friends"
          src="static/media/avatar-4.jpg"
        }}
        {{> components/friends-info/friends-info
          firstName="Johnny"
          lastName="Cash"
          lastMessage="Amazing!"
          className="chats-list"
          time="15:41"
        }}
    </li>
  </ul>
  <header class="chats-header chats-header__groups">
    <h3 class="title chats-header__title">
      Groups
    </h3>
    {{> components/icon/icon
      className="chats-header"
      src="static/media/group-icon.svg"
      alt="Add user"
    }}
  </header>
  <ul class="chats-list">
    <li class="chat-info chats-list__chat-info">
        {{> components/avatar/avatar
          className="friends"
          src="static/media/avatar-6.jpg"
        }}
        {{> components/friends-info/friends-info
          firstName="Project's"
          lastName="chat"
          lastMessage="Got it."
          className="chats-list"
          isNewMessage=12 time="14:03"
        }}
    </li>
    <li class="chat-info chats-list__chat-info">
        {{> components/avatar/avatar
          className="friends"
          src="static/media/avatar-5.jpg"
        }}
        {{> components/friends-info/friends-info
          firstName="Marie's"
          lastName="Birthday"
          lastMessage="Video..."
          className="chats-list"
          isNewMessage=2
          time="14:03"
        }}
    </li>
  </ul>
</main>