$accent-blue: rgba(11, 217, 251, 1);
$warning-red: rgba(220, 47, 85, 1);
$green: #3be200;
$orange: #ff7f05;
$white: rgba(255, 255, 255, 0.9);
$transparent-white: rgba(255, 255, 255, 0.6);
$grey-bg: linear-gradient(234.11deg, rgb(60, 66, 70) 0%, rgb(70, 75, 80) 100%);
$darker-bg: linear-gradient(174.5deg, #272b2d 0%, #32383c 100%);
$lighter-bg: linear-gradient(90deg, rgb(66, 61, 58) 0%, rgb(66, 63, 58) 100%);
