<div class="chat-menu">
  {{> pages/main-page/chat-menu/chat-header/chat-header chat-is-selected="selected" avatar-src="static/media/avatar-4.jpg" user-name="Johnny Cash" user-status="offline"}}
</div>