<form class="message-input-form {{#if isActive }} message-input-form_active {{/if}}">
  {{#if popIsOpen }}
    {{{popupFormAddFiles}}}
  {{/if}}
  {{{attachButton}}}
  {{{messageInput}}}
  {{{sendButton}}}
</form>
