<form class="message-input-form {{#unless isActive}}display_none{{/unless}}">
    {{#if popIsOpen}}
      {{{popupFormAddFiles}}}
    {{/if}}
    {{{attachButton}}}
    {{{messageInput}}}
    {{{sendButton}}}
</form>