<main class="chat-main chat-main_{{isActive}}">
  {{#if isActive}}
    {{#if messages}}
      <ul class="message-list">
        {{#each messages}}
          {{{this}}}
        {{/each}}
      </ul>
    {{else}}

      <h2 class="text chat-main__text">
        Send the first message!
      </h2>
    {{/if}}
  {{else}}
    <h2 class="text chat-main__text">

      Select a chat room
    </h2>
  {{/if}}
</main>