<li class="pop-list-item {{className}}__pop-list-item">
  {{#if icon}}
    <img src={{icon}} class="icon {{className}}__icon" alt="icon"/>
  {{/if}}
  <h2 class="text pop-title pop-list-item__title"> {{title}} </h2>
</li>