.chat-container {
  position: absolute;
  top: 0;
  left: 288px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: calc(100vw - 288px);
  height: 100vh;

  background: $grey-bg;
}
