.chat-container {
  position: absolute;
  top: 0px;
  left: 288px;
  width: calc(100vw - 288px);
  background: $grey-bg;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
