<div class="chat-container {{#unless isActive}}chat-container_display-none{{/unless}}">
{{!-- display-none for mobile version --}}
  {{{chatHeader}}}
  {{{chatMain}}}
  {{{messageForm}}}
</div>
