<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Profile Page</title>
    <link rel="stylesheet" href="../../../style/index.pcss"/>
  </head>
  <body>
    <main class="main-container main-container__profile-page">
      {{> components/nav/nav }}
      <form action="./profile-page.html" class="form profile-page__form">
        <div class="avatar-box profile-page__avatar-box">
          <img src="/static/media/union.svg" alt="avatar" class="avatar profile-page__avatar"/>
          <div class="avatar-box_hover-background">
            <h2 class="title avatar-box__title">
              Change avatar
            </h2>
          </div>
        </div>
        <div class="input-container profile-page__input-container">
          <p class="text profile-page__input-lable profile-page__input-lable">
            Old password
          </p>
          <input id="old_password" type="password" class="input profile-page__input profile-page__input_password" placeholder="password">
        </div>
        <div class="input-container profile-page__input-container">
          <p class="text profile-page__input-lable">
            New password
          </p>
          <input id="new_password" type="password" class="input profile-page__input profile-page__input_password" placeholder="ivanivanov">
        </div>
        <div class="input-container profile-page__input-container profile-page__input-container_last">
          <p class="text profile-page__input-lable">
            Repeat new password
          </p>
          <input id="confirm_new_password" type="password" class="input profile-page__input profile-page__input_password" placeholder="ivanivanov">
        </div>
         {{> components/button/button label="Save" }}
      </form>
      <div class="side-panel">
        {{> components/button/button
          className="side-panel"
          href="/"
        }}
      </div>
    </main>
  </body>
</html>