<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Profile Page</title>
    <link rel="stylesheet" href="../../../style/index.pcss"/>
  </head>
  <body>
    <main class="main-container main-container__profile-page">
      {{!-- Dev Navigation --}}
      {{> components/nav/nav }}
      {{!-- /Dev Navigation --}}

      {{#modal isPopup=true}}
        <h1 class="title add-user__title"> Change avatar  </h1>
        <div class="input-container modal__input-container_file-uploaded">
          <input id="file" type="file" class="input modal__input" placeholder=" ">
          <label for="file" class="uploaded">
            pic.jpg
            <span>
              {{>components/icon/icon className="done-icon" alt="done" src="/static/media/done.svg"}}
            </span>
          </label>
        </div>
        <p class="text text_uploaded">File uploaded</p>

        {{> components/button/button className="add-user-modal" label="Change" href="./profile-page.html"}}
      {{/modal}}

      {{!-- Profile page on Background --}}
      <form action="/" class="form profile-page__form">

        {{!-- Avatar box --}}
        <div class="avatar-box profile-page__avatar-box" onclick="location.href='./profile-page_change-avatar.html'">
          <img src="/static/media/union.svg" alt="avatar" class="avatar profile-page__avatar">
          <div class="avatar-box_hover-background">
            <h2 class="title avatar-box__title">Change avatar</h2>
          </div>
        </div>
        {{!-- /Avatar box --}}

        {{!-- User info --}}
        <h2 class="user-name profile-page__user-name">Ivan</h2>
        <div class="input-container profile-page__input-container">
          <p class="text profile-page__input-lable">Mail</p>
          <input id="email" type="email" class="input profile-page__input" placeholder="pochta@yandex.ru">
        </div>
        <div class="input-container profile-page__input-container">
          <p class="text profile-page__input-lable">Login</p>
          <input id="login" type="text" class="input profile-page__input" placeholder="ivanivanov">
        </div>
        <div class="input-container profile-page__input-container">
          <p class="text profile-page__input-lable">Name</p>
          <input id="first_name" type="text" class="input profile-page__input" placeholder="Ivan">
        </div>
        <div class="input-container profile-page__input-container">
          <p class="text profile-page__input-lable">Second name</p>
          <input id="second_name" type="text" class="input profile-page__input" placeholder="Ivanov">
        </div>
        <div class="input-container profile-page__input-container">
          <p class="text profile-page__input-lable">Chat name</p>
          <input type="text" id="display_name" name="display_name" placeholder="Ivan" class="input profile-page__input">
        </div>
        <div class="input-container profile-page__input-container profile-page__input-container_last">
          <p class="text profile-page__input-lable">Phone</p>
          <input type="tel" id="phone" name="phone" placeholder="+7 (909) 967 30 30" class="input profile-page__input" minlength="10" maxlength="14">
        </div>
        {{!-- /User info --}}

        {{!-- Links --}}
        <div class="input-container profile-page__input-container profile-page__input-container_link">
          <a class="link profile-page__link" href="/src/pages/profile-page/profile-page_change-profile.hbs">Change profile</a>
        </div>
        <div class="input-container profile-page__input-container profile-page__input-container_link">
          <a class="link profile-page__link" href="/src/pages/profile-page/profile-page_change-password.hbs">Change password</a>
        </div>
        <div class="input-container profile-page__input-container profile-page__input-container_link profile-page__input-container_last">
          <a class="link profile-page__link profile-page__link_red" href="/">Quit from account</a>
        </div>
        {{!-- /Links --}}

      </form>

      {{!-- Side panel button  --}}
      <div class="side-panel">
        {{> components/button/button className="side-panel" href="/"}}
      </div>
      {{!-- /Side panel button  --}}

      {{!-- /Profile page on Background --}}

    </main>
  </body>
</html>