.main-container__entry-page {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(234.11deg, #32383C 0%, rgba(90, 90, 90, 1) 100%);
}

.entry-page__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100%;
}

.entry-page__title {
  margin-bottom: 56px;
}

.entry-page__text {
  font-size: 20px;
  margin-bottom: 64px;
}
