.chat-header {
  width: calc(100vw - 288px);
  height: 64px;
  display: none;
  justify-content: space-between;
  color: white;
}

.chat-header.chat-header_active{
  display: flex;
  background: #423F3A;
}

.chat-header__avatar{
  width: 64px;
}

.chat-header__icon {
  align-self: center;
  justify-content: end;
  margin-right: 8px;
}