<form class="popper popper-add-files message-input-form__popper-add-files">

  {{#each popupListItems}}
    {{{this}}}
  {{/each}}

  {{!-- <li class="pop-list-item {{className}}__pop-list-item">
    {{#if icon}}
      {{{icon}}}
    {{/if}}
    <h2 class="text pop-title pop-list-item__title">
      {{title}}
    </h2>
  </li> --}}
</form>
