<ul class="nav">
  <li><a href="/">Chats</a></li>
  {{!-- <li><a href="./src/pages/entry-page/entry-page.hbs">Entry Page</a></li> --}}
  <li><a href="/src/pages/error-page/error-page.hbs">Error Page</a></li>
  {{!-- <li><a href="./src/pages/profile-page/profile-page.hbs">About</a></li> --}}
</ul>