<ul class="nav">
  {{#each links}}
    <li>
      {{{this}}}
    </li>
  {{/each}}
  {{! <li>
    <a class="link nav__link" href="/">
      Chats
    </a>
  </li>
  <li>
    <a class="link nav__link" href="/main-page-empty.hbs">
      Empty Chat
    </a>
  </li>
  <li>
    <a class="link nav__link" href="/main-page-add-user.hbs">
      Add User
    </a>
  </li>
  <li>
    <a class="link nav__link" href="/src/pages/entry-page/entry-page.hbs">
      Entry Page
    </a>
  </li>
  <li>
    <a class="link nav__link" href="/src/pages/error-page/error-page.hbs">
      Error Page
    </a>
  </li>
  <li>
    <a class="link nav__link" href="/src/pages/profile-page/profile-page.hbs">
      Profile
    </a>
  </li>
  <li>
    <ul class="nav change-avatar">
      <li>
        <a
          class="link nav__link"
          href="/src/pages/profile-page/profile-page_change-avatar.hbs"
        >
          Change Avatar
        </a>
      </li>
      <li>
        <a
          class="link nav__link"
          href="/src/pages/profile-page/profile-page_change-avatar_complieted.hbs"
        >
          File Uploaded
        </a>
      </li>
      <li>
        <a
          class="link nav__link"
          href="/src/pages/profile-page/profile-page_change-avatar_error.hbs"
        >
          Download Error
        </a>
      </li>
    </ul>
  </li> }}
</ul>
