<main class="chat-menu">
  {{> pages/main-page/chat-menu/chat-header/chat-header
    avatar-src="media/avatar-4.jpg"
    user-name="Johnny Cash"
    user-status="online"
  }}
  {{> pages/main-page/chat-menu/chat-main/chat-main }}
  {{> pages/main-page/chat-menu/chat-input/chat-input }}
</main>
